body {
    background-image: url("picture-bg.webp");
    background-repeat: no-repeat;
    background-size: 150%;
}

p,
h2 {
    color: whitesmoke;
}

* {
    padding: 10;
    margin: 20;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: whitesmoke;
    height: 80px;
    width: 100;
}

label {
    color: black;
    font-size: 50px;
    padding: 15px;
    padding-top: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 35px;
    font-size: 20px;
}

ul li:hover {
    background: lightgrey;
}

v ul li a {
    color: whitesmoke;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.img-area {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    text-justify: distribute;
    padding: 2px 2px;
}

.img-area>single-img>h1 {
    text-align: center;
    color: white;
    position: absolute;
    top: 8px;
    left: 16px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1px;
    width: 1px;
}

.icon {
    padding: 0 22px 22px;
    height: 1px;
    width: 1px;
}

.top-left {
    text-align: center;
    color: white;
    position: relative;
    top: 8px;
    left: 16px;
}